<!-- app/views/layouts/sessions.html.erb -->
<!DOCTYPE html>
<html class="h-full">
  <head>
    <title>Login | <%= content_for?(:title) ? yield(:title) : "Veritas" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    
    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    
    <style>
    body {
      background-image: url('<%= asset_path("frame.png") %>');
      background-size: cover;
      background-position: center;
      background-attachment: fixed;
    }
    </style>
  </head>

  <body class="h-full">
    <main class="h-full flex items-center justify-center p-4">
      <%= yield %>
    </main>
  </body>
</html>
